<ul>
  <li class="quininput-header">
    <span class="option-header">{{availableOption[1]}}</span>
    <span class="option-header">{{availableOption['X']}}</span>
    <span class="option-header">{{availableOption[2]}}</span>
  </li>
  <li *ngFor="let option of options">
    <span class="badge">{{option.id}}</span>
    <input type="radio" class="radio" name="option-{{currentName}}-{{option.id}}" (change)="onSelectionChange(option, $event.target.value)" [value]="availableOption[1]"/>
    <input type="radio" class="radio" name="option-{{currentName}}-{{option.id}}" (change)="onSelectionChange(option, $event.target.value)" [value]="availableOption['X']"/>
    <input type="radio" class="radio" name="option-{{currentName}}-{{option.id}}" (change)="onSelectionChange(option, $event.target.value)" [value]="availableOption[2]"/>
  </li>
</ul>
<p>
  {{currentName}}
</p>
